<h1>Welcome to the best houshold communication tool available</h1>
<br>
<h4>Are you tired of asking a family member to do a task and them having the task simply be forgotten?  When you ask about it, you are simply told "No I forgot."  Well not any longer. </h4>

<br>
  <ol>
    <li>Enter Chores!</li>
    <li>Assign them to another member!</li>
    <li>No more nagging! Send that person an increasingly annoying text reminder until the task is complete and you approve of it.</li>
    <li>Make to do lists for yourself</li>
    <li>Avoid the duplication of effort by marking a task done.</li>
  </ol>
